{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "object-curly-newline": "error",
    "no-alert": "off",
    "comma-dangle": ["error", "never"],
    "linebreak-style":[0,"error","Windows"],
    "eol-last":"off",
    "arrow-body-style":"off",
    "react/jsx-one-expression-per-line": "off",
    "object-shorthand":"off"
  }
}
